.App {
  max-width: 800px;
  margin: 30px auto;
  font-family: arial, sans-serif;
  border-radius: 10px;
  border: 1px solid blueviolet;
  padding: 50px;
  color: #7e7b7b;
  box-shadow: 10px 20px 30px rgba(65, 50, 100, 0.65);
}
h1 {
  color: #070606;
  font-size: 42px;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 0;
}
h2 {
  text-align: center;
  font-size: 32px;
}
hr {
  border: 2px solid blueviolet;
}
a {
  text-decoration: none;
  color: #1a0dab;
}
@media screen and (max-width: 600px) {
  .App {
    max-width: 400px;
    margin: 30px auto;
    padding: 30px;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  .Weather .temperature {
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-size: 60px;
    line-height: 90px;
    margin-left: 5px;
    font-weight: 600;
    margin-left: 10px;
  }
  .Weather .unit {
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -30px;
  }
  .Weather li {
    font-size: 18px;
    font-weight: 100;
    line-height: 28px;
    list-style: none;
  }
  .Number {
    color: rgb(246, 82, 129);
    font-size: 16px;
    font-weight: 600;
    position: relative;
    line-height: 1;
  }
  .WeatherInfo-data {
    text-align: center;
  }
}
